* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_149 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_150 {
  width: 100%;
  height: 100%;
  background: rgba(11,22,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v48_158 {
  width: 341px;
  height: 341px;
  background: url("../images/v48_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 404px;
  overflow: hidden;
}
.v48_159 {
  width: 201px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 33px;
  left: 323px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v48_160 {
  width: 144px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 36px;
  left: 943px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v48_161 {
  width: 125px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 33px;
  left: 657px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v48_162 {
  width: 256px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 186px;
  left: 766px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v48_203 {
  width: 243px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 872px;
  left: 231px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v48_205 {
  width: 187px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 872px;
  left: 626px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v48_207 {
  width: 219px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 872px;
  left: 965px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v48_164 {
  width: 223px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 961px;
  left: 602px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v48_165 {
  width: 100px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 33px;
  left: 1248px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v48_166 {
  width: 116px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 36px;
  left: 75px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v48_199 {
  width: 100%;
  height: 477px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 208px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v48_201 {
  width: 524px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 374px;
  left: 231px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
