* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v22_107 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_108 {
  width: 100%;
  height: 100%;
  background: rgba(0,25,43,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v22_116 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 509px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v22_117 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 1004px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v22_118 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 794px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v22_125 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 218px;
  left: 719px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v23_148 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 392px;
  left: 87px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v23_150 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 398px;
  left: 444px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v23_152 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 396px;
  left: 794px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v23_154 {
  width: 315px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 405px;
  left: 1094px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v22_120 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 602px;
  font-family: Space Mono;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_121 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 1228px;
  font-family: IBM Plex Mono;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v22_122 {
  width: 233px;
  height: 215px;
  background: url("../images/v22_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 473px;
  overflow: hidden;
}
.v22_123 {
  width: 345px;
  height: 46px;
  background: url("../images/v22_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 30px;
  overflow: hidden;
}
.v23_135 {
  width: 320px;
  height: 462px;
  background: rgba(1,34,59,1);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 44px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_136 {
  width: 320px;
  height: 462px;
  background: rgba(1,34,59,1);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 386px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_137 {
  width: 320px;
  height: 462px;
  background: rgba(1,34,59,1);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 1070px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_138 {
  width: 320px;
  height: 462px;
  background: rgba(1,34,59,1);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 728px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v23_139 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 489px;
  left: 63px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5;
  text-align: left;
}
.v23_140 {
  width: 207px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 484px;
  left: 407px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5;
  text-align: left;
}
.v23_141 {
  width: 239px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 489px;
  left: 749px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5;
  text-align: left;
}
.v23_142 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 490px;
  left: 1094px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.5;
  text-align: left;
}
