* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v47_56 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v47_57 {
  width: 100%;
  height: 100%;
  background: rgba(11,22,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v47_70 {
  width: 341px;
  height: 341px;
  background: url("../images/v47_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 424px;
  overflow: hidden;
}
.v47_71 {
  width: 201px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 33px;
  left: 323px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v47_72 {
  width: 144px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 36px;
  left: 943px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v47_73 {
  width: 125px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 33px;
  left: 657px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v47_101 {
  width: 222px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 212px;
  left: 787px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v47_75 {
  width: 223px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 961px;
  left: 602px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v47_76 {
  width: 100px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 33px;
  left: 1248px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v47_77 {
  width: 116px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 36px;
  left: 75px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v47_80 {
  width: 243px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 392px;
  left: 73px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v47_81 {
  width: 243px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 398px;
  left: 430px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v47_82 {
  width: 243px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 396px;
  left: 781px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v47_83 {
  width: 315px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 405px;
  left: 1081px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v47_94 {
  width: 320px;
  height: 462px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 30px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v47_98 {
  width: 209px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 485px;
  left: 46px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v47_103 {
  width: 320px;
  height: 462px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 372px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v47_104 {
  width: 225px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 485px;
  left: 388px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v47_112 {
  width: 320px;
  height: 462px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 713px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v47_113 {
  width: 260px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 485px;
  left: 729px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v47_115 {
  width: 320px;
  height: 462px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 1056px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v47_116 {
  width: 228px;
  color: rgba(235,220,197,1);
  position: absolute;
  top: 485px;
  left: 1072px;
  font-family: Libre Baskerville;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
